
body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $primary-font-family;
    font-weight: 400;
}

.lead {
    font-size: 18px;
}

.intro-header {
  height: 500px;
  opacity: 0.8;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: #82f0f0;
  background-image: url("../../images/p8.jpg");
  background-size: cover;
  margin-top:-20px;
}

.intro-message > h1 {
    margin: 0;
    color: $secondary-color;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 80px;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid $primary-color;
}

.intro-message > h3 {
  text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:767px) {
    .intro-header {
    background-size: contain;
    background-repeat: no-repeat;
    }
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    .intro-divider {
        width: 100%;
    }
}

.img-responsive-b {
  width: 200px;
  height: 150px;
  margin-left: 100px;
  margin-top: 51px;
}

.img-responsive-a {
  width: 200px;
  height: 200px;
  margin-left: 100px;
  margin-top: 20px;
}

.content-section-a {
    padding: 15px 0;
    background-color: #c8f1f1;
    border-top: 1px solid #e7e7e7;
    height: 260px;
}

.content-section-b {
    border-top: 1px solid #e7e7e7;
    height: 260px;
}

.content-picture {
  width: 470px;
}

.content-text {
  color: $secondary-color;
  width: 470px;
  padding-right: 20px;
}

.landing-content {
  display: flex;
  flex-flow: wrap;
}

.section-header {
    width: 940px;
    color: $secondary-color;
    margin-bottom: 30px;
    text-align: center;
}

.section-heading {
    color: $secondary-color;
    margin-bottom: 30px;
    text-align: center;
}

.steps {
  font-size: 26px;
  color: $secondary-color;
  width: 313px;
  text-align: center;
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .content-header > h2 {
      font-size: 25px;
      width: auto;
    }
    .content-picture {
      width: 300px;
    }
    .content-text {
      width: 420px;
    }
    .img-responsive-a {
      margin-left: 50px;
      width: 150px;
      height: 150px;
    }
    .img-responsive-b {
      margin-left: 50px;
      width: 150px;
      height: 150px;
    }
    .steps {
      font-size: 20px;
      width: 200px;
    }
}

// .images-bottom {
//   background-size: cover;
// }

// .background-bottom {
//   opacity: 0.8;
//   padding-top: 50px;
//   padding-bottom: 50px;
//   text-align: center;
//   color: $secondary-color;
//   margin-top:-20px;
// }
