<div class="container home">
  <br>
  <br>
  <br>
  <h1 class="title">What cuisine do you fancy today?</h1>
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Cuisine
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li ng-repeat="category in homeCtrl.categories" ui-sref="categoryShow({id: category.id})">{{ category.name }}</li>
    </ul>
  </div>
</div>
<!-- <div class="footer">
  <span><strong>Get in Contact</strong></span>
  <span><strong>About Us</strong></span>
  <img class="logo" src="images/Facebook_Logo.png">
  <img class="logo" src="images/Instagram-Logo.png">
  <img class="logo" src="images/Twitter_Logo.png">
</div>
  <footer class="footer">
<div class="footer-container">
  <div class="text-center center-block">
    <h4 class="txt-railway">Follow us on social media!</h4>
    <a href="https://www.facebook.com"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
    <a href="https://twitter.com"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
    <a href="https://plus.google.com"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
    <i id="social-em" class="fa fa-envelope-square fa-3x social"></i>
  </div>
</div>
<div class="modal-container"> -->

   <!-- Trigger the modal with a button -->
   <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Contact Us</button>
</div>
</footer> -->
