<div class="container home">
  <br>
  <br>
  <br>
  <h1 class="title">What food do you fancy?</h1>
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Cuisine
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li ng-repeat="category in homeCtrl.categories" ui-sref="categoryShow({id: category.id})">{{ category.name }}</li>
    </ul>
  </div>
</div>
