<h1>Secret Chef <img src="images/logo.png"></h1>

<h2>Bringing the restaurants to the home</h2><br>

<div id="container1">
  <div id="works">
    <h3>How it works</h3>
  </div>

  <div id="abouts">
    <h3>About us</h3>
  </div>
</div>

<div id="container2">
  <div id="experiences">
    <h3>My Experience</h3>
  </div>

  <div id="signup">
    <h3>Sign Up!</h3>
  </div>
</div>

<!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button> -->

<!-- Modal -->
<!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        Test test
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> -->
