
<!-- <div class="wrapper">
  <div class="content">
    <h1>Homemade Food Restaurant Style</h1>
    <h3>How it works:</h3>
    <p>- You can register as Chef or Guest</p>
    <p>- As Chef you can create your own event</p>
    <p>       and publish it in our site</p>
    <p>- As guest you can browse available events and reserve the one you fancy the most</p><br>
</div>
</div> -->
<a name="about"></a>
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1 ui-sref="home">Secret Chef</h1>
                        <h3>Homemade food restaurant style.</h3>
                        <hr class="intro-divider">
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.intro-header -->
    <!-- Page Content -->
    <a  name="services"></a>
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">About</h2>
                    <p class="lead">Secret Chef connects people who love cooking & hosting dinners with people who love eating authentic home cooked meals. Each dinner is a unique experience where people can share food, discover new cultures and build friendships from all over the world.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="images/p10.jpg" alt="">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-a -->
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">My experience</h2>
                    <p class="lead">Dinner at Luca's was very cosy and warm. It was great to try fresh and very well made Italian food and have some advice how to cook it. I found out more about cooking and heard an impressive story by Luca how he learned to cook. Thank you Luca! I'll be going back there most definitely.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="images/musty1.png" alt="">
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-b -->
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div>
                    <div class="clearfix"> </div>
                    <h2 class="section-heading">The steps are easy!</h2>
                    <div class="steps">
                      Register <img src="images/regicon.png" />
                    </div>
                    <div class="steps">
                      Search <img src="images/searchicon.png" />
                    </div>
                    <div class="steps">
                      Eat <img src="images/eaticon.png" />
                    </div>
                    <div style="float:right">
                        <!-- <img class="img-responsive" src="images/pic4.jpg" style="height:300px;margin-bottom:80px" alt=""> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-a -->
    <div class="content-section-b background-bottom">
      <span><strong>Get in Contact</strong></span>
      <span><strong>About Us</strong></span>
      <img class="logo" src="../images/Facebook_Logo.png">
      <img class="logo" src="../images/Instagram-Logo.png">
      <img class="logo" src="../images/Twitter_Logo.png">
    </div>
    <!-- /.content-section-b -->
